<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="net.sourceforge.jtds.jdbc.Driver" />
                <property name="url" value="jdbc:jtds:sqlserver://sql-1.tuandai888.com/www_JunTe_com" />
                <property name="username" value="sql_dev1" />
                <property name="password" value="tuandaiisverygood.0.2123" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- // power by http://www.yiibai.com -->
        <mapper resource="Mapper/BankInfoDao.xml" />
    </mappers>
</configuration>